@font-face {
  font-family: "Font";
  src: url(../resources/PathwayGothicOne-Regular.ttf);
}
*{
-fx-font-family : "Font";
}
.task{
-fx-background-color:  #ff0000;
-fx-effect: dropshadow( gaussian  , #000000 , 45 , 0.0005 , 15 , 15 )
}
.name{
-fx-font-size: 30px;
-fx-text-fill:#ffffff;
}
.sh_desc{
}
.deadline{
-fx-text-fill:#ffffff;
-fx-font-size: 15px;
}